.std-lato-font {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    position: relative;
    top: 2px;
    line-height: 28px;
    color: #636569;
}

.axis {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .7rem;
    position: relative;
    top: 2px;
    line-height: 28px;
    color: #636569;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

#site-header {
    background: #592E83;
    padding: 13px 26px;
    min-height: 42px;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.header-logo {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.logo-img {
    width: 40%;
    height: 40%;
}

.app-name-container {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #a3a7aa;
    width: 40%;
    height: 40%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background-color: rgb(163,167,170);*/
    background-color: rgb(244,244,244);
}

.graph-section {
    display: flex;
/*    flex-direction: row;*/
    height: 100%;
}

.graph-card {
    background-color: white;
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*border: 1px solid rgb(0,57,112);*/
}

.graph-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 30px;
    min-width: 300px;
    max-width: 300px;
    height: 320px;
    color: rgb(0,57,112);
    background-color: white;
    /*border: 1px solid rgb(0,57,112);*/
}

.info-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tooltip {
    margin: 15px;
    font-family: 'Lato', sans-serif;
}

.info-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;
}

#first-ic {
    margin-left: 0px;
}

.page-footer {
    background: rgb(0,57,112);
}