.std-lato-font {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    position: relative;
    top: 2px;
    line-height: 28px;
    color: #636569;
}

.axis {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .7rem;
    position: relative;
    top: 2px;
    line-height: 28px;
    color: #636569;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

#site-header {
    background: #592E83;
    min-height: 42px;
    min-width: 1125px;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.header-logo {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.logo-img {
    width: 40%;
    height: 40%;
}

.app-name-container {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #a3a7aa;
    width: 40%;
    height: 40%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 1125px;
    /*background-color: rgb(163,167,170);*/
    background-color: rgb(244,244,244);
}

.graph-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-width: 1125px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.graph-section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#chartId {
    padding: 25px 0px 25px 25px;
    width: 70vw;
    min-width: 875px;
    max-height: 300px;
}

.svg-container {
    display: inline;
    position: relative;
    height: auto;
    /*padding-bottom: 100%; */ /* aspect ratio */
    vertical-align: bottom;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    max-height: 300px;
}

#tooltip-section {
    font-family: 'Lato', sans-serif;
    width: 20vw;
    min-width: 250px;
}

#tooltip-word {
    font-size: 25px;
    line-height: 60px;
    height: 40px;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.tooltip {
    margin: 25px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;
}

.info-card {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 30px;
    width: 20vw;
    min-width: 250px;
    height: 200px;
    color: rgb(0,57,112);
    background-color: white;
    /*border: 1px solid rgb(0,57,112);*/
}

.info-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-card:first-child {
    margin-left: 0px;
}

.info-card-top{
    height: 50%;
    border-bottom: 1px solid black;
}

.info-card-bottom{
    height: 50%;
}

.info-card-number{
    height: 60px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
}

.info-card-sentence{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.page-footer {
    background: rgb(0,57,112);
    min-width: 1125px;
}
